#Boundary_Survey_Request .sfm_textbox
{
    padding:1px;
}
#Boundary_Survey_Request .sfm_textarea
{
    padding:2px;
    resize:none;
}
#Boundary_Survey_Request .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#Boundary_Survey_Request img
{
    border:0;
}
#Boundary_Survey_Request .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#Boundary_Survey_Request input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#Boundary_Survey_Request .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#Boundary_Survey_Request .sfm_cr_box a
{
    color:#888888;
}
#Boundary_Survey_Request .form_outer_div
{
    border:none;
    background-color:#ffffff;
}
#Boundary_Survey_Request .sfm_form_label
{
    background-color:transparent;
}
#Boundary_Survey_Request .element_label
{
    background-color:transparent;
}
body#sfm_Boundary_Survey_Request_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#Boundary_Survey_Request .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#Boundary_Survey_Request .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Boundary_Survey_Request .sfm_float_error_box
{
    font-family:Arial;
    font-size:16px;
    color:#ffffff;
    font-weight:bold;
    background:none repeat scroll 0 0 #ff0000;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:3px solid #000000;
}
#Boundary_Survey_Request .sfm_close_box
{
    font-family:Arial;
    font-size:16px;
    color:#ffffff;
    font-weight:bold;
}
#Boundary_Survey_Request .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#Boundary_Survey_Request .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#Boundary_Survey_Request .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Boundary_Survey_Request .page_number
{
    background-color:transparent;
}


#Boundary_Survey_Request #formsection_0_0
{
    width:320px;
    height:152px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #label9_container
{
    position:absolute;
    left:16px;
    top:80px;
    width:288px;
    height:40px;
    z-index:16;
}
#Boundary_Survey_Request #label9
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    color:#000000;
}
#Boundary_Survey_Request #horiz_line7
{
    position:absolute;
    left:16px;
    top:133px;
    width:288px;
    height:5px;
    z-index:39;
    border:none;
    border-top:2px solid #000000;
}
#Boundary_Survey_Request #formsection_0_152
{
    width:320px;
    height:416px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #label26_container
{
    position:absolute;
    left:24px;
    top:16px;
    width:272px;
    height:20px;
    z-index:56;
}
#Boundary_Survey_Request #label26
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #Name_container
{
    position:absolute;
    left:16px;
    top:48px;
    z-index:17;
}
#Boundary_Survey_Request #Name
{
    float:left;
    width:282px;
    z-index:17;
}
#Boundary_Survey_Request #label7_container
{
    position:absolute;
    left:16px;
    top:80px;
    width:288px;
    height:32px;
    z-index:14;
}
#Boundary_Survey_Request #label7
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    color:#000000;
}
#Boundary_Survey_Request #label25_container
{
    position:absolute;
    left:24px;
    top:128px;
    width:272px;
    height:20px;
    z-index:55;
}
#Boundary_Survey_Request #label25
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #Email_container
{
    position:absolute;
    left:16px;
    top:160px;
    z-index:18;
}
#Boundary_Survey_Request #Email
{
    float:left;
    width:282px;
    z-index:18;
}
#Boundary_Survey_Request #label24_container
{
    position:absolute;
    left:24px;
    top:192px;
    width:272px;
    height:20px;
    z-index:54;
}
#Boundary_Survey_Request #label24
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #Phone_container
{
    position:absolute;
    left:16px;
    top:224px;
    z-index:19;
}
#Boundary_Survey_Request #Phone
{
    float:left;
    width:282px;
    z-index:19;
}
#Boundary_Survey_Request #label23_container
{
    position:absolute;
    left:24px;
    top:256px;
    width:272px;
    height:20px;
    z-index:53;
}
#Boundary_Survey_Request #label23
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #NameOfTitleCompany_container
{
    position:absolute;
    left:16px;
    top:288px;
    z-index:20;
}
#Boundary_Survey_Request #NameOfTitleCompany
{
    float:left;
    width:282px;
    z-index:20;
}
#Boundary_Survey_Request #label22_container
{
    position:absolute;
    left:24px;
    top:320px;
    width:272px;
    height:20px;
    z-index:52;
}
#Boundary_Survey_Request #label22
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #AddressOfTitleCompany_container
{
    position:absolute;
    left:16px;
    top:352px;
    z-index:21;
}
#Boundary_Survey_Request #AddressOfTitleCompany
{
    float:left;
    width:282px;
    z-index:21;
}
#Boundary_Survey_Request #formsection_0_568
{
    width:320px;
    height:1182px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #horiz_line9
{
    position:absolute;
    left:16px;
    top:708px;
    width:288px;
    height:5px;
    z-index:40;
    border:none;
    border-top:2px solid #000000;
}
#Boundary_Survey_Request #label5_container
{
    position:absolute;
    left:16px;
    top:719px;
    width:288px;
    height:32px;
    z-index:13;
}
#Boundary_Survey_Request #label5
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    color:#000000;
}
#Boundary_Survey_Request #label18_container
{
    position:absolute;
    left:24px;
    top:759px;
    width:272px;
    height:20px;
    z-index:51;
}
#Boundary_Survey_Request #label18
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #Address_container
{
    position:absolute;
    left:16px;
    top:791px;
    z-index:22;
}
#Boundary_Survey_Request #Address
{
    float:left;
    width:282px;
    z-index:22;
}
#Boundary_Survey_Request #label17_container
{
    position:absolute;
    left:24px;
    top:824px;
    width:272px;
    height:20px;
    z-index:50;
}
#Boundary_Survey_Request #label17
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #City_container
{
    position:absolute;
    left:16px;
    top:856px;
    z-index:23;
}
#Boundary_Survey_Request #City
{
    float:left;
    width:282px;
    z-index:23;
}
#Boundary_Survey_Request #label16_container
{
    position:absolute;
    left:24px;
    top:888px;
    width:272px;
    height:20px;
    z-index:49;
}
#Boundary_Survey_Request #label16
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #ParcelID_container
{
    position:absolute;
    left:16px;
    top:920px;
    z-index:24;
}
#Boundary_Survey_Request #ParcelID
{
    float:left;
    width:282px;
    z-index:24;
}
#Boundary_Survey_Request #label15_container
{
    position:absolute;
    left:24px;
    top:952px;
    width:272px;
    height:20px;
    z-index:48;
}
#Boundary_Survey_Request #label15
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #AccessCode_container
{
    position:absolute;
    left:16px;
    top:984px;
    z-index:25;
}
#Boundary_Survey_Request #AccessCode
{
    float:left;
    width:282px;
    z-index:25;
}
#Boundary_Survey_Request #label19_container
{
    position:absolute;
    left:24px;
    top:1016px;
    width:272px;
    height:20px;
    z-index:58;
}
#Boundary_Survey_Request #label19
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #LegalDescription_container
{
    position:absolute;
    left:16px;
    top:1048px;
    z-index:34;
}
#Boundary_Survey_Request #LegalDescription
{
    float:left;
    width:282px;
    height:34px;
    z-index:34;
}
#Boundary_Survey_Request #label20_container
{
    position:absolute;
    left:24px;
    top:1104px;
    width:272px;
    height:20px;
    z-index:59;
}
#Boundary_Survey_Request #label20
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #ListingAgent_container
{
    position:absolute;
    left:24px;
    top:1136px;
    z-index:60;
}
#Boundary_Survey_Request #ListingAgent
{
    float:left;
    width:266px;
    z-index:60;
}
#Boundary_Survey_Request #horiz_line6
{
    position:absolute;
    left:8px;
    top:1169px;
    width:304px;
    height:5px;
    z-index:33;
    border:none;
    border-top:2px solid #000000;
}
#Boundary_Survey_Request #formsection_0_1750
{
    width:320px;
    height:2px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #formsection_0_1752
{
    width:320px;
    height:144px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #label14_container
{
    position:absolute;
    left:24px;
    top:16px;
    width:272px;
    height:20px;
    z-index:47;
}
#Boundary_Survey_Request #label14
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #DateNeeded_container
{
    position:absolute;
    left:16px;
    top:48px;
    z-index:37;
}
#Boundary_Survey_Request #DateNeeded
{
    float:left;
    width:282px;
    z-index:37;
}
#Boundary_Survey_Request #label13_container
{
    position:absolute;
    left:24px;
    top:80px;
    width:272px;
    height:20px;
    z-index:46;
}
#Boundary_Survey_Request #label13
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #ClosingDate_container
{
    position:absolute;
    left:16px;
    top:104px;
    z-index:38;
}
#Boundary_Survey_Request #ClosingDate
{
    float:left;
    width:282px;
    z-index:38;
}
#Boundary_Survey_Request #horiz_line5
{
    position:absolute;
    left:8px;
    top:137px;
    width:304px;
    height:5px;
    z-index:32;
    border:none;
    border-top:2px solid #000000;
}
#Boundary_Survey_Request #formsection_0_1896
{
    width:320px;
    height:336px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #label2_container
{
    position:absolute;
    left:16px;
    top:8px;
    width:288px;
    height:40px;
    z-index:11;
}
#Boundary_Survey_Request #label2
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    color:#000000;
}
#Boundary_Survey_Request #label_container
{
    position:absolute;
    left:24px;
    top:56px;
    width:272px;
    height:20px;
    z-index:42;
}
#Boundary_Survey_Request #label
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #NameOfBuyer_container
{
    position:absolute;
    left:16px;
    top:88px;
    z-index:26;
}
#Boundary_Survey_Request #NameOfBuyer
{
    float:left;
    width:282px;
    z-index:26;
}
#Boundary_Survey_Request #label10_container
{
    position:absolute;
    left:24px;
    top:120px;
    width:272px;
    height:20px;
    z-index:43;
}
#Boundary_Survey_Request #label10
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #NameOfLender_container
{
    position:absolute;
    left:16px;
    top:152px;
    z-index:27;
}
#Boundary_Survey_Request #NameOfLender
{
    float:left;
    width:282px;
    z-index:27;
}
#Boundary_Survey_Request #label11_container
{
    position:absolute;
    left:24px;
    top:184px;
    width:272px;
    height:20px;
    z-index:44;
}
#Boundary_Survey_Request #label11
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #NameOfTitleAtty_container
{
    position:absolute;
    left:16px;
    top:216px;
    z-index:28;
}
#Boundary_Survey_Request #NameOfTitleAtty
{
    float:left;
    width:282px;
    z-index:28;
}
#Boundary_Survey_Request #label12_container
{
    position:absolute;
    left:24px;
    top:248px;
    width:272px;
    height:20px;
    z-index:45;
}
#Boundary_Survey_Request #label12
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#Boundary_Survey_Request #NameOfUnderWriter_container
{
    position:absolute;
    left:16px;
    top:280px;
    z-index:29;
}
#Boundary_Survey_Request #NameOfUnderWriter
{
    float:left;
    width:282px;
    z-index:29;
}
#Boundary_Survey_Request #horiz_line4
{
    position:absolute;
    left:8px;
    top:317px;
    width:304px;
    height:5px;
    z-index:31;
    border:none;
    border-top:2px solid #000000;
}
#Boundary_Survey_Request #formsection_0_2232
{
    width:320px;
    height:48px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #AddExtras_container
{
    position:absolute;
    left:16px;
    top:16px;
    z-index:36;
}
#Boundary_Survey_Request #AddExtras
{
    float:left;
    width:288px;
    height:22px;
    z-index:36;
}
#Boundary_Survey_Request #formsection_0_2280
{
    width:320px;
    height:1px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #formsection_0_2281
{
    width:320px;
    height:143px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #Comments_container
{
    position:absolute;
    left:16px;
    top:87px;
    z-index:57;
}
#Boundary_Survey_Request #Comments
{
    float:left;
    width:282px;
    height:34px;
    z-index:57;
}
#Boundary_Survey_Request #formsection_0_2424
{
    width:320px;
    height:56px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #FileUpload_container
{
    position:absolute;
    left:48px;
    top:16px;
    z-index:41;
}
#Boundary_Survey_Request #FileUpload
{
    float:left;
    width:220px;
    height:24px;
    z-index:41;
}
#Boundary_Survey_Request #formsection_0_2480
{
    width:320px;
    height:385px;
    position:relative;
    z-index:1000;
}
#Boundary_Survey_Request #horiz_line8
{
    position:absolute;
    left:8px;
    top:21px;
    width:304px;
    height:5px;
    z-index:35;
    border:none;
    border-top:2px solid #000000;
}
#Boundary_Survey_Request #label4_container
{
    position:absolute;
    left:16px;
    top:66px;
    width:288px;
    height:60px;
    z-index:12;
}
#Boundary_Survey_Request #label4
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
    color:#ff0000;
}
#Boundary_Survey_Request #label8_container
{
    position:absolute;
    left:15px;
    top:159px;
    width:288px;
    height:64px;
    z-index:15;
}
#Boundary_Survey_Request #label8
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
    color:#ff0000;
}
#Boundary_Survey_Request #label1_container
{
    position:absolute;
    left:21px;
    top:246px;
    width:272px;
    height:72px;
    z-index:10;
}
#Boundary_Survey_Request #label1
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
    color:#ff0000;
}
#Boundary_Survey_Request #Submit_container
{
    position:absolute;
    left:14px;
    top:340px;
    width:288px;
    height:25px;
    z-index:30;
}
#Boundary_Survey_Request #Submit
{
    float:left;
    width:288px;
    height:25px;
    z-index:30;
}
